spring:
  datasource:
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show-sql: false

  # Flyway 설정
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration
    validate-on-migrate: true

  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 2MB

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
  endpoint:
    health:
      show-details: always

server:
  port: 8080

# JWT 설정
jwt:
  secret: ${JWT_SECRET}
  access-token-validity: ${JWT_ACCESS_TOKEN_VALIDITY:1800000}
  refresh-token-validity: ${JWT_REFRESH_TOKEN_VALIDITY:604800000}

# Admin 계정
admin:
  id: ${ADMIN_ID}
  password: ${ADMIN_PASSWORD}
  nickname: ${ADMIN_NICKNAME:관리자}