spring:
  datasource:
    url: jdbc:tc:mysql:8.0.32:///test
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
  jpa:
    hibernate:
      ddl-auto: create-drop

  flyway:
    enabled: false

  h2:
    console:
      enabled: true

jwt:
  secret: ${JWT_SECRET}
  access-token-validity: 60000
  refresh-token-validity: 120000

logging:
  level:
    root: warn